{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>Welcome, {{username}}</h1>
    <!-- <a href="/logout"><button>Logout</button></a> -->
    <br>

    <div class="container border border-1 border-dark mt-5">
        <form class="form-container p-5" method="post" action="/post">
                {{form.hidden_tag()}}
                <div>
                  <div class="mb-3">
                    {{form.title.label(class="form-label")}}
                    {{form.title(class="form-control border-1 border-secondary")}}
                    {% for error in form.title.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                
                <!-- <label for="">Title</label>
                <input type="text"> -->
                <div class="mb-3">
                  {{form.post.label(class='form-label')}}
                  {{form.post(class="form-control border-3", style="height: 60vh;")}}
                </div>
                
                <!-- <label for="">Post</label>
                <textarea name="" id=""></textarea> -->
                <label>Tags</label>
                <div class="d-flex flex-sm-nowrap mb-3">
                    <!-- <input type="text">
                    <input type="text">
                    <input type="text"> -->
                    {{ form.tag1(class="form-control border-3 m-1") }}
                    {{ form.tag2(class="form-control border-3 m-1") }}
                    {{ form.tag3(class="form-control border-3 m-1") }}
                </div>
            </div>
            <div>
                <!-- <input type="submit" value="Draft">
                <input type="submit" value="Post"> -->
                {{form.draft(class="btn btn-secondary btn-lg")}}
                {{form.submit(class="btn btn-primary btn-lg")}}
            </div>
    </form>
    </div>

{% endblock %}