{% extends "baseOut.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="login-container">
        <h2>Welcome Back</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post">
            {{form.hidden_tag()}}
            {{form.email.label}}
            {{form.email}}
            {{form.password.label}}
            {{form.password}}
            {{ form.submit() }}
        </form>

        <div class="register-link">
            Don't have an account? <a href="/signup">Register here</a>
            <br>
            <a href="/resetpasswrod">Forget Password?</a>
        </div>

        {% if error %}
            <span class="message error">{{ error }}</p>
        {% endif %}
        
    </div>

{% endblock %}
