{% extends "base.html" %}

{% block content %}

    <h1>Create New Post</h1>
    <form method="POST" action="{{ url_for('posts.new_post') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% endif %}
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body(rows=8, cols=50) }}
            {% endif %}
        </p>
        <p>
            {{ form.is_published() }} {{ form.is_published.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    
{% endblock %}
