{% extends "baseOut.html" %}
{% block content %}
    
    <div class="container p-4" style="background-color: rgba(0, 0, 0, 0.595);">
        <h2 class="text-light">Reset Password</h2>
        <form method="POST" action="" class="text-light">
        {{ form.hidden_tag() }}
        <p>
            Please enter the email address for your account.
        </p>
        <p>
            {{ form.email.label(class='form-label fw-bold') }}<br>
            {{ form.email(class='form-control') }}
        </p>
        <p>
            {{ form.submit(class='btn btn-primary') }}
        </p>
    </form>
    </div>
{% endblock %}